/* Should we pull in @fonts here? */

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.booming-voice,
h1 {
	font-family: serif;
	font-size: 40px;
	font-weight: 700;
	color: var(--dark-color);
}

.loud-voice,
h2 {
	font-family: serif;
	font-size: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);
}


.attention-voice,
h3 {
	font-family: serif;
	font-size: clamp(1.50rem, calc(1.30rem + 0.98vw), 2.00rem);
}

.notice-voice {
	font-family: serif;
	font-size: 1rem;
	line-height: 1.4;
}
@media (min-width: 700px) {
	.notice-voice {
		font-size: 1.2rem;
	}
}

.solid-voice {
	font-family: serif;
	font-size: 14px;
	font-weight: 700;
}

.firm-voice {
	font-family: 'Lato', serif;
	font-size: 0.9rem;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 700;

}

h4, h5, h6 {
	font-family: serif;
}

.calm-voice,
p,
li {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
	font-family: sans-serif;
}

.whisper-voice {
	font-family: 'Lato', sans-serif;
	font-size: 0.9rem;
	color: gray;
}

.teaser-voice {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p+p {
	margin-top: 1em;
}

h2+p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}